[submodule "boost.http"]
	path = 3rd/boost.http
	url = https://github.com/BoostGSoC14/boost.http.git
	branch = parser
[submodule "3rd/boost.beast"]
	path = 3rd/boost.beast
	url = https://github.com/boostorg/beast.git
